.white {
    color: white;
}

.navBar__items {
display: flex;
justify-content: space-between;
align-items: center;
}

.navBar__logo {
    opacity: 0.9;
    cursor: pointer;
width: 40%;
transition: all 300ms ease;
}

.navBar__logo:hover {
    opacity: 1;
    scale: 1.01;
}

.navBar__links {
display: flex;
}

.navBar__link {
    margin: 10px;
cursor: pointer;
opacity: 0.9;
scale: 0.98;
font-weight: 400;
transition: all 200ms ease;
}

.navBar__link:hover {
    opacity: 1;
    scale: 1;
}